@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Raleway:400,600,700');

* {box-sizing: border-box;}

html {height: 100%;}

#preloader {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease;
  &.visible {
    visibility: visible;
    opacity: 1;
  }
}

body {
  position: relative;
  z-index: -1000;
  margin: 0;
  overflow: hidden;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  color: #111111;
  @media (max-width: 768px) {
    color: white;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.5s ease;
    @media (max-width: 768px) {
      width: 100%;
      background-color: rgba(0,0,0,0.3);
    }
  }
&.grey-overlay {
  @media (max-width: 768px) {
    color: #111111;
    header h4 {color: #aaaaaa;}
    header .social a {color: #333333;}
    header {
      h1, h4, .social {display: none;}
      .navigation {margin-top: 0;}
    }
  }
  &::after {
    background-color: #efefef;
  }
}
}

header {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: flex-start;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 50%;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 60px;
  @media (max-width: 768px) {
    height: auto;
    width: 100%;
    padding: 0 15px 30px;
    top: initial;
  }
  h1 {
    margin: 0;
    font-family: 'Libre Baskerville', serif;
    font-size: 48px;
    @media (max-width: 1199px) {
      font-size: 36px;
    }
  }
  h4 {
    font-weight: 700;
    color: #aaaaaa;
    margin-bottom: 0;
    @media (max-width: 1199px) {
      margin-top: 5px;
      font-size: 12px;
    }
    @media (max-width: 768px) {
      color: rgba(255,255,255,(6/16));
    }
    span {margin: 0 5px;}
  }
  .social {
    margin-top: 45px;
    padding-left: 0;
    list-style-type: none;
    height: 20px;
    @media (max-width: 1199px) {
      margin-top: 30px;
    }
    a {
      color: #333333;
      @media (max-width: 768px) {
        color: rgba(255,255,255,(13/16));
      }
      li {
        float: left;
        i {
          font-size: 20px;
        }
      }
      & + a li {
        margin-left: 22.5px;
      }
    }
  }
  #nav-return {
    position: absolute;
    z-index: 1;
    right: 5vw;
    bottom: 60px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease;
    @media (max-width: 768px) {right: 15px; bottom: 30px;}
    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }
  #under-construction {
    position: absolute;
    left: 5vw;
    bottom: 60px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    animation-duration: 0.75s !important;
    @media (max-width: 768px) {left: 15px; bottom: 30px;}
    &:not(.fadeIn) {visibility: hidden;}
  }
  .navigation {
    position: relative;
    width: 100%;
    margin-top: 165px;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    transition: opacity 0.25s ease, visibility 0.25s ease;
    @media (max-width: 1199px) {margin-top: 100px;}
    @media (max-width: 768px) {margin-top: 60px;}
    &.animate {opacity: 1;}
    &.fadeOut {visibility: hidden;}
    li {
      float: left;
      text-transform: uppercase;
      cursor: pointer;
      font-weight: 700;
      font-size: 12px;
      & + li {margin-left: 30px;}
    }
  }
}

$form-border-color: #888888;
$form-border-color-focus: #111111;

#contact {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  padding: 0 5vw;
  @media (max-width: 768px) {
    position: static;
    top: initial;
    left: initial;
    height: 100%;
    width: 100%;
    padding: 0 15px;
    overflow: hidden;
  }
  &.visible {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
  h1 {
    align-self: flex-end;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 72px;
    color: rgba(#111111, 0.1);
    @media (max-width: 1199px) {
      font-size: 48px;
      letter-spacing: 3px;
    }
  }
  .flex-wrapper {
    align-self: stretch;
    margin-top: 15px;
    margin-bottom: 30px;
    @media (max-width: 768px) {margin-bottom: 45px;}
  }
  .contact-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    h2 {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 18px;
      @media (max-width: 1199px) {font-size: 15px;}
      @media (max-width: 414px) {margin-bottom: 5px;}
    }
    input, textarea {
      margin-bottom: 15px;
      border: none;
      background-color: transparent;
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      font-size: 14px;
      color: #111111;
      transition: border-color 0.25s ease;
      animation-duration: 0.5s;
      @media (max-width: 1199px) {font-size: 12px;}
      @media (max-width: 414px) {margin-bottom: 10px;}
      &:focus {
        outline: none;
        border-color: $form-border-color-focus;
      }
    }
    input {
      padding: 0 12px;
      border-bottom: 1px solid $form-border-color;
      height: 35px;
      @media (max-width: 414px) {height: 30px;}
      &[type="submit"] {
        cursor: pointer;
        align-self: flex-end;
        margin-bottom: 0;
        border: 1px solid $form-border-color-focus;
        width: 160px;
        @media (max-width: 414px) {width: 120px;}
      }
    }
    textarea {
      resize: none;
      padding: 12px;
      border: 1px solid $form-border-color;
      height: 90px;
    }
    input, textarea {
      &.invalid {border-color: #ff4136;}
    }
  }
  .contact-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 30px;
    @media (max-width: 1199px) and (min-width: 769px) {flex-flow: column nowrap;}
    @media (max-width: 480px) {flex-flow: column nowrap;}
    @media (max-width: 414px) {margin-top: 15px;}
    h3 {
      margin: 0;
      font-weight: 700;
      font-size: 12px;
      color: #111111;
      @media (max-width: 1199px) and (min-width: 769px) {
        & + h3 {margin-top: 10px;}
      }
      @media (max-width: 480px) {
        & + h3 {margin-top: 5px;}
      }
      i {margin-right: 5px;}
    }
  }
}

@import "animation.css"
