@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Raleway:400,700");

@import url(animation.css);

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

#preloader {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease;
}

#preloader.visible {
  visibility: visible;
  opacity: 1;
}

body {
  position: relative;
  margin: 0;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  color: #111111;
}

body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body::after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.75);
}

header {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 50%;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 60px;
}

header h1 {
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  font-size: 48px;
}

header h4 {
  font-weight: 700;
  color: #aaaaaa;
  margin-bottom: 0;
}

header h4 span {
  margin: 0 5px;
}

header .social {
  margin-top: 45px;
  padding-left: 0;
  list-style-type: none;
  height: 20px;
}

header .social a {
  color: #333333;
}

header .social a li {
  float: left;
}

header .social a li i {
  font-size: 20px;
}

header .social a + a li {
  margin-left: 22.5px;
}

header .navigation {
  position: relative;
  width: 100%;
  margin-top: 165px;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

header .navigation li {
  float: left;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
}

header .navigation li + li {
  margin-left: 30px;
}

header .navigation li#under-construction {
  position: absolute;
  right: 0;
  margin-left: 0;
  cursor: auto;
  animation-duration: 0.5s !important;
}

header .navigation li#under-construction:not(.fadeInUp) {
  visibility: hidden;
}

@media (max-width: 1199px) {
  header h1 {
    font-size: 36px;
  }

  header h4 {
    margin-top: 5px;
    font-size: 12px;
  }

  header .social {
    margin-top: 30px;
  }

  header .navigation {
    margin-top: 100px;
  }
}

@media (max-width: 991px) {
  header .navigation li#under-construction::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
    width: 40vw;
    height: 40px;
    background-color: white;
  }
}

@media (max-width: 768px) {
  body {
    color: white;
  }

  body::before {
    width: 100%;
  }

  header {
    width: 100%;
    padding: 60px 15px;
  }

  header h4 {
    color: rgba(255, 255, 255, 0.375);
  }

  header .social a {
    color: rgba(255, 255, 255, 0.8125);
  }

  header .navigation li#under-construction {
    display: none;
  }
}