@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Raleway:400,600,700");

@import url(animation.css);

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

#preloader {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease;
}

#preloader.visible {
  visibility: visible;
  opacity: 1;
}

body {
  position: relative;
  z-index: -1000;
  margin: 0;
  overflow: hidden;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  color: #111111;
}

body::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50%;
  background-color: transparent;
  transition: background-color 0.5s ease;
}

body.grey-overlay::after {
  background-color: #efefef;
}

header {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  align-items: flex-start;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 50%;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 60px;
}

header h1 {
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  font-size: 48px;
}

header h4 {
  font-weight: 700;
  color: #aaaaaa;
  margin-bottom: 0;
}

header h4 span {
  margin: 0 5px;
}

header .social {
  margin-top: 45px;
  padding-left: 0;
  list-style-type: none;
  height: 20px;
}

header .social a {
  color: #333333;
}

header .social a li {
  float: left;
}

header .social a li i {
  font-size: 20px;
}

header .social a + a li {
  margin-left: 22.5px;
}

header #nav-return {
  position: absolute;
  z-index: 1;
  right: 5vw;
  bottom: 60px;
  margin: 0 -7.5px -6.5px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease;
  padding: 7.5px;
}

header #nav-return.visible {
  opacity: 1;
  visibility: visible;
}

header #under-construction {
  position: absolute;
  left: 5vw;
  bottom: 60px;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  animation-duration: 0.75s !important;
}

header #under-construction:not(.fadeIn) {
  visibility: hidden;
}

header .navigation {
  position: relative;
  width: 100%;
  margin-top: 165px;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  transition: opacity 0.25s ease, visibility 0.25s ease;
}

header .navigation.animate {
  opacity: 1;
}

header .navigation.fadeOut {
  visibility: hidden;
}

header .navigation li {
  float: left;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
}

header .navigation li + li {
  margin-left: 30px;
}

#contact {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  padding: 0 5vw;
}

#contact.visible {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#contact h1 {
  align-self: flex-end;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 72px;
  color: rgba(17, 17, 17, 0.1);
}

#contact .flex-wrapper {
  align-self: stretch;
  margin-top: 15px;
  margin-bottom: 30px;
}

#contact .contact-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#contact .contact-form h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
}

#contact .contact-form input,
#contact .contact-form textarea {
  margin-bottom: 15px;
  border: none;
  background-color: transparent;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #111111;
  transition: border-color 0.25s ease;
  animation-duration: 0.5s;
}

#contact .contact-form input:focus,
#contact .contact-form textarea:focus {
  outline: none;
  border-color: #111111;
}

#contact .contact-form input {
  padding: 0 12px;
  border-bottom: 1px solid #888888;
  height: 35px;
}

#contact .contact-form input[type="submit"] {
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: 0;
  border: 1px solid #111111;
  width: 160px;
}

#contact .contact-form textarea {
  resize: none;
  padding: 12px;
  border: 1px solid #888888;
  height: 90px;
}

#contact .contact-form input.invalid,
#contact .contact-form textarea.invalid {
  border-color: #ff4136;
}

#contact .contact-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 30px;
}

#contact .contact-info h3 {
  margin: 0;
  font-weight: 700;
  font-size: 12px;
  color: #111111;
}

#contact .contact-info h3 i {
  margin-right: 5px;
}

@media (max-width: 1199px) {
  header h1 {
    font-size: 36px;
  }

  header h4 {
    margin-top: 5px;
    font-size: 12px;
  }

  header .social {
    margin-top: 30px;
  }

  header .navigation {
    margin-top: 100px;
  }

  #contact h1 {
    font-size: 48px;
    letter-spacing: 3px;
  }

  #contact .contact-form h2 {
    font-size: 15px;
  }

  #contact .contact-form input,
  #contact .contact-form textarea {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  body {
    color: white;
  }

  body::before {
    width: 100%;
  }

  body::after {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  body.grey-overlay {
    color: #111111;
  }

  body.grey-overlay header h4 {
    color: #aaaaaa;
  }

  body.grey-overlay header .social a {
    color: #333333;
  }

  body.grey-overlay header h1,
  body.grey-overlay header h4,
  body.grey-overlay header .social {
    display: none;
  }

  body.grey-overlay header .navigation {
    margin-top: 0;
  }

  header {
    height: auto;
    width: 100%;
    padding: 0 15px 30px;
    top: initial;
  }

  header h4 {
    color: rgba(255, 255, 255, 0.375);
  }

  header .social a {
    color: rgba(255, 255, 255, 0.8125);
  }

  header #nav-return {
    right: 15px;
    bottom: 30px;
  }

  header #under-construction {
    left: 15px;
    bottom: 30px;
  }

  header .navigation {
    margin-top: 60px;
  }

  #contact {
    position: static;
    top: initial;
    left: initial;
    height: 100%;
    width: 100%;
    padding: 0 15px;
    overflow: hidden;
  }

  #contact .flex-wrapper {
    margin-bottom: 45px;
  }
}

@media (max-width: 480px) {
  #contact .contact-info {
    flex-flow: column nowrap;
  }

  #contact .contact-info h3 + h3 {
    margin-top: 5px;
  }
}

@media (max-width: 414px) {
  #contact .contact-form h2 {
    margin-bottom: 5px;
  }

  #contact .contact-form input,
  #contact .contact-form textarea {
    margin-bottom: 10px;
  }

  #contact .contact-form input {
    height: 30px;
  }

  #contact .contact-form input[type="submit"] {
    width: 120px;
  }

  #contact .contact-info {
    margin-top: 15px;
  }
}

@media (max-width: 1199px) and (min-width: 769px) {
  #contact .contact-info {
    flex-flow: column nowrap;
  }

  #contact .contact-info h3 + h3 {
    margin-top: 10px;
  }
}