@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Raleway:400,700");

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

#preloader {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease;
}

#preloader.visible {
  visibility: visible;
  opacity: 1;
}

body {
  position: relative;
  margin: 0;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  color: #111111;
}

body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body::after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.75);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 50%;
  padding-left: 5vw;
  padding-right: 30px;
  padding-top: 55vh;
}

header h1 {
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  font-size: 48px;
}

header h4 {
  font-weight: 700;
  color: #aaaaaa;
}

header .social {
  margin-top: 45px;
  padding-left: 0;
  list-style-type: none;
  height: 20px;
}

header .social a {
  color: #333333;
}

header .social a li {
  float: left;
}

header .social a li i {
  font-size: 20px;
}

header .social a + a li {
  margin-left: 15px;
}

.animate,
header .social .fa {
  animation-duration: 0.75s;
  animation-fill-mode: both;
  animation-timing-function: ease;
  opacity: 0;
}

.delay-a {
  animation-delay: 0.125s;
}

.delay-b {
  animation-delay: 0.250s;
}

.delay-c {
  animation-delay: 0.375s;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(20px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}