<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EIMS Form</title>

  <link rel="stylesheet" href="css/angular-material.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="eimsRenovForm" layout="column">

<md-toolbar layout-padding ng-controller="ToolbarController">

  <div class="md-toolbar-tools">
    <h1 flex>Hello there!</h1>
    <md-button class="md-icon-button" ng-click="showEm()">
      <md-icon md-svg-icon="img/ic_send_black_24px.svg"></md-icon>
    </md-button>
    <h5 ng-show="signedIn">{{ signedIn.nameF }} {{ signedIn.nameL }}</h5>
    <md-button ng-show="signedIn" class="md-icon-button" ng-click="authObj.$signOut()">
      <md-icon md-svg-icon="img/ic_exit_to_app_white_24px.svg"></md-icon>
    </md-button>
  </div>

  <a href="#!/login" id="go-login" style="display: none;">Login</a>
  <a href="#!/home" id="go-home" style="display: none;">Home</a>
</md-toolbar>

<main ng-view flex-md></main>

<script type="text/javascript" src="js/d3-time-format.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-route.min.js"></script>
<script type="text/javascript" src="js/angular-animate.min.js"></script>
<script type="text/javascript" src="js/angular-aria.min.js"></script>
<script type="text/javascript" src="js/angular-material.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.0.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.0.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.0.0/firebase-database.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controller.js"></script>
</body>
</html>
